html{
    height: 100vh;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#root {
    background: #ffffff;
    height: 100%;
    display: grid;
    grid-template-rows: calc(env(safe-area-inset-top) + 56px) 1fr auto;
}
